:root {
  --buttonHoverBgColor: rgba(255, 255, 255, 0.12);
}

.button {
  background: rgb(255, 119, 0);
  color: #fff;
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;

  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 500;
  position: relative;

  max-width: 100%;

  // outline: 2px solid #fff;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px;
    opacity: 1;
    z-index: 5;

    transition: background 0.4s;
    background: var(--buttonHoverBgColor);
    visibility: hidden;
  }

  &:hover {
    &:before {
      visibility: visible;
      opacity: 1;
    }

    .button__content {
      transition: transform 0.4s;
      transform: scale(1.05);
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.36;

    &:hover {
      .button__content {
        transform: none;
      }

      &:before {
        visibility: hidden;
      }
    }
  }

  &__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }

  &__content {
    display: inline-flex;
    align-items: center;
    max-width: 100%;
  }

  &__label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__shimmer {
    position: absolute;
    left: -2px;
    top: -2px;
    bottom: -2px;
    width: calc(100%);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 50.329%,
      rgba(255, 255, 255, 0) 100%
    );

    // background: linear-gradient(
    //   90deg,
    //   rgba(46, 47, 51, 0),
    //   rgba(46, 47, 51, 0.12) 50.329%,
    //   rgba(46, 47, 51, 0) 100%
    // );

    // transform: translateX(-100%);

    // animation: test 1s linear infinite forwards;
  }

  &:focus-visible {
    border-color: #fff;
    outline: 3px solid blue;
  }

  &--loading {
    .button__content {
      transition: 0.3s;
      opacity: 0;
      transform: translate(-15px, -3px);

      visibility: hidden;
    }
  }
}

@keyframes test {
  0% {
    transform: translateX(-100%);
  }
  99% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%); /* Вернуться в начальное положение */
  }
}
