.counter {
  background-color: #2fb675;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  text-align: center;

  line-height: 24px;

  display: inline-block;

  color: #fff;
  font-size: 15px;
}
